body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    .box{
        height: 300px;
        width: 300px;
        border: 2px solid black;
        background: white;
        transition: ease all 0.3s;
        &:active{
            scale: 0.9;
        }
    }
}