* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: beige;
}
button{
    padding: 1rem 2rem;
    font-size: 3rem;
    color: white;
    font-size: 3rem ;
    background: lightcoral;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    &:active{
        scale: 0.95;
    }
}
img{
    position: absolute;
    width: 3rem;
    height: 3rem;
    object-fit: cover;
}