* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

.images {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    width: 100%;
    gap: 2rem;
    img{
        border-radius: 1rem;
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
    }

}

.modal {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    backdrop-filter: blur(10px);
    display: none;
    justify-content: center;
    align-items: center;
    transition: .3s ease;

    img{
        width: 50rem;
        aspect-ratio: 4/3;
        border-radius: 4rem;
        object-fit: cover;
    }

    
}